/**
 * Copyright (C) 2012  Agnia Barsukova, Daniil Sorokin, Ildus Mukhametov, Vladlena Sergeeva, 
 * Department of General and Computational Linguistics, University of Tuebingen
 * 
 * This file is part of the ToponymVis project.
 *
 * ToponymVis is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.*
 *
 * ToponymVis is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details: <http://www.gnu.org/licenses/>.
 *
 * Contact: magpie.danial@gmail.com, agniabarsukova@gmail.com
 */


		h2	{
			font-family:Arial;
			font-size:16px;
			margin-bottom:2px;
			margin-top:1px;
			text-align:left;
			}
		h3	{
			font-family:Arial;
			font-size:16px;
			margin-bottom:5px;
			margin-top:2px;
			text-align:left;
			}
		h4	{
			font-family:Arial;
			font-size:14px;
			padding:0px;
			margin: 0px 0px 2px 0px;
			text-align:left;
			font-weight: normal;
			color: #444;
			}

		hr	{
			height:1px;
			border-width:0px;
			color:#d0d0d0;
			background-color:#d0d0d0;
			}
		.notification {
			text-align:center;
			border-style:solid;
			border-width:1px;
			border-color:gray;
			position:absolute;
			width: 100;
			left:40%;
			top:30%;
			display:none;
			background-color: #FFFFFF;
			box-shadow: 0px 4px 7px 1px #606060;
			padding:5px;
			margin:0px;
			z-index:2;
			}

		.screen {
			position:fixed; 
			left:0; 
			top:0;
			width:100%;
			height:100%;
			background-color: #000;
			opacity:0.3;
			z-index:1;
			display:none;
			}
			
		div.controls {
			background-color: #FFFFFF;
			border:1px solid grey; 
			-moz-border-radius: 5px; 
			-webkit-border-radius: 5px; 
			cursor:pointer;
			color:#444;
			font-size:12px; 
			padding:2px 3px;
			box-shadow: 0px 1px 3px 0px #444;
			-moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
			font-family: Arial;
			text-align:center;
			height:15px;
			}			
			
		table.controlsPanel {
			background-color: #FFFFFF;
			padding:0px;
			border-collapse:collapse;
			box-shadow: 0px 2px 5px 0px #444;
			-moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
			font-family: Arial;
			text-align:center;
			}
		
		td.controls, span.controls {
			border-style:solid;
			border-width:1px;
			border-color:gray;
			font-size:14;
			padding:3px;
			margin:0px;
			cursor:pointer;
			}
		td.controls:active, span.controls:active	{
			background-color: #888888;
			}

		td.controls:hover, span.controls:hover {
			box-shadow: inset 0px -10px 20px -10px #777;
			}
			
		.button	{
			text-decoration:none;
			color:black;
			border:1px dotted grey; 
			padding:1px 5px;
			margin:0px 0px;
			cursor:pointer;
			-moz-user-select: none;
            -khtml-user-select: none;
            user-select: none;
			}

		.button:hover	{
			border-color:#000000;
			}

		span.buttonSimple	{
			text-decoration:none;
			border-bottom:1px dotted grey; 
			cursor:pointer;
			}

		span.buttonSimple:hover	{
			border-color:#000000;
			}
		
		.closeSign	{
			stroke-width:1.5;
			stroke:#888;
			}
			
		.closeSign:hover	{
			stroke:#000;
			}
		
		table.grouplist {
			border-style:solid;
			border-width:1px;
			border-color:gray;
			margin-bottom:15px;
			margin-top:15px;		
			border-collapse:collapse;
			}
		td.grouplist	{
			border-style:solid;
			border-width:1px;
			padding:3px;
			border-color:gray;
			}
		a.innerlink	{
			color: black;
			text-decoration:none;
			border-bottom:1px dotted;
			cursor:hand;
			}
		a.innerlink:hover	{
			background-color:#E8E8E8;
			}
